@keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	95% {
		opacity: 0;
	}
	100% {
		display: none;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes wobble {
	0% {
		rotate: -0.6deg;
	}
	20% {
		rotate: 1deg;
	}
	40% {
		rotate: -0.4deg;
	}
	60% {
		rotate: 0.8deg;
	}
	80% {
		rotate: -0.2deg;
	}
	100% {
		rotate: 0.6deg;
	}
}

@keyframes inertia {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-12deg);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes quiet {
	25% {
		transform: scaleY(0.6);
	}
	50% {
		transform: scaleY(0.4);
	}
	75% {
		transform: scaleY(0.8);
	}
}

@keyframes normal {
	25% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.4);
	}
	75% {
		transform: scaleY(0.6);
	}
}
@keyframes loud {
	25% {
		transform: scaleY(1);
	}
	50% {
		transform: scaleY(0.4);
	}
	75% {
		transform: scaleY(1.2);
	}
}
