.library-song {
	display: flex;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	transition: all 0.75s ease-out;

	&:hover {
		background: rgb(140, 140, 140);

		h3,
		h4 {
			color: white;
		}

		.library-song__image {
			&:after {
				opacity: 1;
			}
		}
	}

	&__image {
		position: relative;
		width: 30%;
		display: grid;
		place-items: center;

		> * {
			grid-area: 1 / 1;
		}

		&:after {
			opacity: 0;
			content: "▶";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;
			font-size: 2rem;
			transition: all 0.5s ease-out;
		}

		img {
			width: 100%;
		}
	}

	&__description {
		padding-left: 1rem;

		h3 {
			font-size: 1rem;
		}

		h4 {
			font-size: 0.7rem;
		}
	}

	&__add-to-queue {
		background-color: white;
		margin-left: auto;
		padding: 0.5rem 0.75rem;
		color: grey;
		border: 2px solid grey;
		border-radius: 8px;
		cursor: pointer;
		transition: all 0.3s ease;

		&:hover {
			color: #34a853;
			border: 2px solid #34a853;
			filter: brightness(1.2);
		}
	}

	&__playing {
		display: flex;
		justify-content: space-between;
		height: 42px;
		--boxSize: 6px;
		--gutter: 2px;
		width: calc((var(--boxSize) + var(--gutter)) * 5);
	}
}

.box {
	transform: scaleY(0.4);
	height: 100%;
	width: var(--boxSize);
	background: black;
	animation-duration: 1.2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	border-radius: 8px;
}

.box1 {
	animation-name: quiet;
}

.box2 {
	animation-name: normal;
}

.box3 {
	animation-name: quiet;
}

.box4 {
	animation-name: loud;
}

.box5 {
	animation-name: quiet;
}
