nav {
	min-height: 10vh;
	display: flex;
	justify-content: space-around;
	align-items: center;

	button {
		color: black;
		background: transparent;
		border: none;
		cursor: pointer;
		padding: 0.5rem;
		border: 2px solid rgb(65, 65, 65);
		transition: all 0.3s ease;
		min-width: max-content;

		&:hover {
			background: rgb(65, 65, 65);
			color: white;
		}

		svg {
			margin-left: 8px;
		}
	}

	.library--opened,
	.queue--opened {
		background: rgb(65, 65, 65);
		color: white;
	}
}

.nav__queue-trigger {
	z-index: 2;
}

@media screen and (max-width: 768px) {
	nav {
		padding-inline: 16px;
		button {
			z-index: 10;
		}

		h1 {
			padding-inline: 16px;
			text-align: center;
		}
	}
}
