.player {
	min-height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.time-control {
	width: 50%;
	display: flex;
	align-items: center;

	input {
		width: 100%;
		-webkit-appearance: none;
		background: transparent;
		cursor: pointer;
	}

	p {
		padding: 1rem;
	}
}

.play-control {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	width: 40%;

	svg {
		cursor: pointer;
	}

	.fa-volume-down {
		height: 2rem;
		width: 1rem;
	}
}

.track {
	width: 100%;
	height: 1rem;
	position: relative;
	overflow: hidden;
	border-radius: 1rem;
}

.animate-track {
	background: rgb(204, 204, 204);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0%);
	padding: 1rem;
	pointer-events: none;
}

input[type="range"]:focus {
	outline: none;
}

input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
}

.volume-input {
	rotate: -90deg;
	top: -65px;
	position: absolute;
	right: -18px;

	input[type="range"] {
		-webkit-appearance: none;
		margin: 18px 0;
		width: 90px;
	}

	input[type="range"]:focus {
		outline: none;
	}

	input[type="range"]::-webkit-slider-runnable-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		background: linear-gradient(
			90deg,
			var(--track-color) 0%,
			var(--thumb-color) 100%
		);
		border-radius: 8px;
	}

	input[type="range"]::-webkit-slider-thumb {
		height: 18px;
		width: 18px;
		border-radius: 50%;
		background: var(--thumb-color, #ffffff);
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -4px;
		margin-left: 3px;
	}

	input[type="range"]:focus::-webkit-slider-runnable-track {
		background: linear-gradient(
			90deg,
			var(--track-color) 0%,
			var(--thumb-color) 100%
		);
	}

	input[type="range"]::-moz-range-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		background: linear-gradient(
			90deg,
			var(--track-color) 0%,
			var(--thumb-color) 100%
		);
		border-radius: 8px;
	}

	input[type="range"]::-moz-range-thumb {
		height: 18px;
		width: 18px;
		border-radius: 50%;
		background: var(--thumb-color, #ffffff);
		cursor: pointer;
		border: none;
		margin-top: -4px;
		margin-left: 3px;
	}

	input[type="range"]:focus::-moz-range-track {
		background: linear-gradient(
			90deg,
			var(--track-color) 0%,
			var(--thumb-color) 100%
		);
	}
}

.library-active {
	margin-left: 18%;
}

.queue-active {
	margin-right: 18%;
}

@media screen and (max-width: 768px) {
	.time-control {
		width: 90%;
	}
	.play-control {
		width: 80%;
	}
}
