.queue {
	z-index: 10;
	position: fixed;
	box-shadow: 2px 2px 50px rgb(221, 221, 221);
	border-radius: 1rem;
	top: 0;
	right: 0;
	width: 20rem;
	height: 100%;
	overflow: auto;
	background: white;
	transform: translateX(100%);
	transition: all 0.5s ease;
	opacity: 0;

	&--active {
		transform: translateX(0%);
		opacity: 1;
	}

	&__empty {
		text-align: center;
		color: #4f4f4f;
		font-size: 1.1rem;
		margin-top: 2rem;
	}

	&__title {
		padding: 2rem;
	}

	&__play {
		cursor: pointer;
		display: flex;
		gap: 8px;
		align-items: center;
		margin: 1rem auto;
		border-radius: 2rem;
		padding: 1rem;
		width: fit-content;
		background-color: black;
		color: white;
		font-weight: 600;
		transition: all 0.3s ease-out;
		border: 2px solid black;

		&:hover {
			background-color: white;
			color: black;
		}
	}
}

@media screen and (max-width: 768px) {
	.queue {
		width: 100%;
	}
}
