.queue-song {
	display: flex;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	cursor: pointer;
	transition: all 0.5s ease-out;

	&:hover {
		background: #ea4435;

		h3,
		h4 {
			color: white;
		}
	}

	&__image {
		width: 30%;
	}

	&__description {
		padding-left: 1rem;

		h3 {
			font-size: 1rem;
		}

		h4 {
			font-size: 0.7rem;
		}
	}

	&__remove-song {
		font-size: 13px;
		margin-left: auto;
		padding: 0.15rem 0 0.15rem 1rem;
		color: white;
	}
}

@media screen and (max-width: 768px) {
	.queue-song__image {
		width: 25%;
	}
}
