.song {
	min-height: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__inner {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:after {
			width: 13px;
			height: 13px;
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			translate: -50% -50%;
			background: radial-gradient(
				circle at 30% 30%,
				#ffffff 0%,
				#c0c0c0 20%,
				#808080 60%,
				#666666 100%
			);
			border-radius: 50%;
			z-index: 1;
		}

		img {
			width: 430px;
			aspect-ratio: 1 / 1;
			padding: 100px;
			background: repeating-radial-gradient(
				circle at 50%,
				#000000,
				#444444 5px
			);
			background-position: center center;
			border-radius: 50%;
			transition: all 2s ease;
		}
	}

	&__vinyl {
		&--active {
			animation: inertia 2s ease-out forwards;
		}
	}

	&__title {
		padding: 3rem 1rem 1rem 1rem;
	}

	&__artist {
		font-size: 1rem;
	}
}

.circle-for-jazz {
	position: absolute;
	top: 0;
	left: 50%;
	translate: -50% -50%;
	background-color: #000000;
	border-radius: 50%;
	width: 32px;
	aspect-ratio: 1 / 1;
}

.needle {
	width: 16px;
	height: 250px;
	border-radius: 0 0 8px 8px;
	background: linear-gradient(to bottom, #000000, #444444);
	transform-origin: top;

	&__container {
		position: absolute;
		top: 30%;
		left: 105%;
		z-index: 2;
		transform-origin: top;
		rotate: 0deg;
		transition: rotate 1s ease;
	}

	&--active {
		rotate: 32deg;
	}

	&--wobble {
		animation: wobble 6s ease-in-out infinite alternate;
	}
}

@media screen and (max-width: 768px) {
	.song {
		img {
			width: 340px;
			padding: 80px;
		}
	}

	.needle {
		width: 12px;
		height: 180px;

		&__container {
			left: 103%;
		}

		&--active {
			rotate: 28deg;
		}
	}

	.circle-for-jazz {
		width: 24px;
	}
}

.rotateSong {
	animation: rotate 20s linear forwards infinite;
}
