* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.7);
	border-radius: 20px;
	border: transparent;
}

.selected {
	background: black;

	h3,
	h4 {
		color: white;
	}
}

body {
	font-family: "Lato", sans-serif;
	background-color: var(--bg-color);
	transition: background-color 1s ease-out;
}

.application {
	transition: all 0.5s ease;
}

.library-active {
	margin-left: 18%;
}

.queue-active {
	margin-right: 18%;
}

h1 {
	font-size: 1rem;
}

h2 {
	color: rgb(51, 51, 51);
}

h3,
h4 {
	color: rgb(100, 100, 100);
	font-weight: 400;
}

@media screen and (max-width: 768px) {
	.library-active {
		position: relative;
		top: -18px;
		margin-left: 67%;
	}

	.queue-active {
		position: relative;
		top: -6px;
		margin-right: 5%;
	}
}

@import "./animations";
@import "./login";
@import "./nav";
@import "./player";
@import "./song";
@import "./library";
@import "./library-song";
@import "./queue";
@import "./queue-song";
@import "./toast";
